*{padding: 0; margin: 0; box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none;}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{font-family: "Roboto", sans-serif;}


@media (max-width: 767px){
	
header{
	max-width: 1920px;
	width: 100%;
	margin:0 auto; 
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

header .container{
	width: 100%;
	margin: 0 auto;
}

header nav{
	width: 80%;
	margin: 0 auto;
	height: 80px;
	align-items: center;
}

header nav .logo a{
	font-size: 26px;
	text-transform: uppercase;
	line-height: 80px;
	color: #fff;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
}

header nav .main_list {
	display: none;
	width: 100%;
}

header nav .main_list > li{
	text-align: center;
	position: relative;
	border-bottom: 1px solid #f5f5f5;

}

header nav .main_list > li a{
	width: 100%;
	display: block;
	background: #fff;
	padding: 18px 0px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #3b566e;
	font-family: "Roboto", sans-serif;
	transition: all .2s ease;
	position: relative;
	letter-spacing: .3px;
}

header nav .main_list > li a:hover{
	background-color: #f5f5f5;
}


header .container nav label:last-child i{display: none;}

#open:checked ~ ul{display: block ;}

.close{display: none;}

#open:checked ~ .close{display: block;}

#open:checked ~ .open{display: none;}

header .container nav input{
        display: none;
}

header .container nav{
	position: relative;
}

header .container nav label i{
        font-size: 34px;
        color: #fff;
        position: absolute;
        right: 0;
        top: 20px;
}

header nav .main_list .dropdpwn  > a::after{
	font-family: FontAwesome;
    content: "\f107";
    font-size: 12px;
    color: #3b566e;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0,-50%);  
}

header nav .main_list .dropdpwn:hover ul{
	visibility: visible;
	display: block;
	top: 30px;
}

header nav .main_list .dropdpwn ul{
	display:none;
	width: 100%;
	background: #fff; 
	visibility: hidden;
	transition: all .3s ease-in;
	overflow: hidden
}

header nav .main_list .dropdpwn ul li{
	display: block;
	border-bottom: 1px solid #f5f5f5;
}

header nav .main_list .dropdpwn ul li a{
	color: #3b566e;
	position: relative;
	transition: all .3s ease-out;
	font-size: 13px;
	font-weight: 200;
}

header nav .main_list .dropdpwn ul li a:hover{
	color: #f55858;

}

.header_slide{
	max-width: 1920px;
	background-image: url(../img/banner-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 104vh;
	margin: 0 auto;
	margin-top: -13vh;
	display: flex;
	align-items: center;
}


.header_slide .header_content .container{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 92%;
	margin: 0 auto;
}

.header_slide .header_content .container .left_row{
	width: 100%;
	text-align: center;
	margin: 100px 0 15px 0;
}

.header_slide .header_content .container .left_row h1{
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: .8px;
	line-height: 32px;
	width: 100%;
	display: block;
}

.header_slide .header_content .container .left_row p{
	margin: 15px 0 30px 0;
	color: #fff;
	font-size: 13px;
	line-height: 22px;
	font-weight: lighter;
	letter-spacing: .5px;
	text-align: center;
	width: 96%;
}


.header_slide .header_content .container .left_row  a{
	margin: 0 auto;
	width: 140px;
	height: 40px;
	display: block;
	text-align: center;
	line-height: 40px;
	background-color: #f55858;
	border-radius: 30px;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	transition: all .3s ease-in;
}

.header_slide .header_content .container .left_row  a:hover{
	background-color: #0088e8;
}

.header_slide .header_content .container .right_row{
	height: 215px;
	margin: 0 auto;
} 


.header_slide .header_content .container .right_row img{
	height: 100%;
} 



/*about section*/

#about {
	padding: 120px 0 100px 0;
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid #f5f5f5;

}
#about .container{
	width: 90%;
	margin: 0 auto;
}

#about .container .row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;;
	align-items: center;
}

#about .container .row .left_col img{
	width: 100%;
	margin-bottom: 20px;
}

#about .container .row .right_col .about_title{
	font-size: 26px;
	color: #1e1e1e;
	line-height: 34px;
}

#about .container .row .right_col .about_desc p{
	color: #4a4a4a;
	font-size: 16px;
	line-height: 30px;
	margin-top: 28px;
}

#about .container .row .right_col .about_desc p a{
	color: #007bff;
}


#about .container .row .right_col .about_desc > a{
	margin-top: 40px;
	width: 140px;
	height: 40px;
	display: block;
	text-align: center;
	line-height: 40px;
	background-color: #00b4c6;
	border-radius: 30px;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	transition: all .3s ease-in;
}

#about .container .row .right_col .about_desc > a:hover{
	background-color: #0088e8;
}



/*about2 section*/

#about2{
	padding: 100px 0 100px 0;
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid #f5f5f5;
}

#about2 .container{
	width: 90%;
	margin: 0 auto;
}

#about2 .container .row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;;
	align-items: center;
}

#about2 .container .row .right_col{
	width: 100%;
	margin: 20px auto;
}

#about2 .container .row .right_col img{width: 100%;}

#about2 .container .row .left_col .about2_title h5{
	font-size: 28px;
	color: #1e1e1e;
	line-height: 35px;
	width: 100%;
}

#about2 .container .row .left_col .about2_title p{
	margin: 28px 0 25px 0;
	color: #4a4a4a;
	font-size: 17px;
	letter-spacing: .5px;
	line-height: 32px;
	width: 100%;
}

#about2 .container .row .left_col ul li{
	margin-bottom: 28px;
	display: flex;
}

#about2 .container .row .left_col ul li .text{
	padding: 12px 0 12px 24px;
}

#about2 .container .row .left_col ul li .text h6{
	color: #1e1e1e;
	font-size: 21px;
	margin-bottom: 18px;
}

#about2 .container .row .left_col ul li .text p{
	width:100%;
	letter-spacing: .5px;
	font-size: 15px;
	color: #4a4a4a;
	line-height: 30px;
}

#about2 .container .row .left_col ul li .text p a{
	color: #007bff;
}

#about2 .container .row .left_col ul li .text p a:hover{
	color: #0056b3;
}




}
